<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <!-- 
  	  namespace:命名空间,接口的全路径
   -->
<mapper namespace="com.hp.mapper.UserMapper">
  <insert id="userRegister" parameterType="com.hp.pojo.User">
  	insert into tb_user value(null,#{userName},#{uPassword},#{uPhone},#{uAddress},0)
  </insert>
 
 	 
</mapper>

